@model Folder
@{
    ViewData["Title"] = "Home Page";
}

<h2>@Model.FolderName</h2>
<ul>
@foreach(var folder in Model.ChildFolderes)
{
    <li>
        <p><b><a href="@Url.Action("FolderTree", "Home", new {folderId = folder.FolderId})">@folder.FolderName</a></b></p>
    </li>
}
</ul>
