@model IEnumerable<Folder>
@{
    ViewData["Title"] = "Home Page";
}
<h2>Root folders</h2>

<ul>
@foreach(var folder in Model)
{
    <li>
        <p><b><a href="@Url.Action("FolderTree", "Home", new {folderId = folder.FolderId})">@folder.FolderName</a></b></p>
    </li>
}
</ul>

<h3>Import from json file to root</h3>
<form id="importForm" method="post" enctype="multipart/form-data" action=@Url.Action("ImportFolders", "Home")>
  <input type="file" name="fileInput" accept=".json">
  <input type="submit" value="Import">
</form>
<br/>
<a href="@Url.Action("ExportFolders", "Home")">Export structure of catalogs from the root</a>